pandas
numpy
Pillow
matplotlib
imagesize
sklearn
torch
torchvision
transformers
scipy
functions
scikit-learn
docker
bert
bert-tensorflow
tokenizers
fastapi
pydantic
uvicorn
boto3
python-multipart
tensorboard
